<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/boxicons.min.css"
      integrity="sha512-pVCM5+SN2+qwj36KonHToF2p1oIvoU3bsqxphdOIWMYmgr4ZqD3t5DjKvvetKhXGc/ZG5REYTT6ltKfExEei/Q=="
      crossorigin="anonymous" referrerpolicy="no-referrer"/>
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css"
      integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous"/>

<header class="header-area overlay">
  <nav class="navbar navbar-expand-md navbar-dark">
    <div class="container">
      <a routerLink="" class="navbar-brand">HelpNow</a>
      <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#main-nav">
        <span class="menu-icon-bar"></span>
        <span class="menu-icon-bar"></span>
        <span class="menu-icon-bar"></span>
      </button>
      <div id="main-nav" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li><a routerLink="" class="nav-item nav-link">Home</a></li>
          <li><a routerLink="/fundraises" class="nav-item nav-link">Fundraises</a></li>
          <li><a routerLink="/announcements" class="nav-item nav-link">Announcements</a></li>
          <li><a routerLink="/employees" class="nav-item nav-link">Crew</a></li>
          <li class="dropdown">
            <a routerLink="/organizations" class="nav-item nav-link" data-toggle="dropdown">Organizations</a>
            <div class="dropdown-menu">
              <a href="#" class="dropdown-item">Organization 1</a>
              <a href="#" class="dropdown-item">Organization 2</a>
              <a href="#" class="dropdown-item">Organization 3</a>
            </div>
          </li>
          <li><a routerLink="/contact" class="nav-item nav-link">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>