<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
  <section id="content" class="current">
    <div class="container text-center">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <h2>Taking Action, Making a Difference.</h2>
          <h2 class="logo">Help<span
            class="highlight">Now</span></h2>
          <p>This website is dedicated to providing immigrants in Poland with the resources and support they need to succeed. 
            Our mission is to ensure that immigrants in Poland have access to the information, resources, and services they 
            need to build strong, prosperous lives in their new home. We provide comprehensive information about the 
            immigration process, connecting immigrants to legal and social services, and advocating for their rights.</p>
        </div>
      </div>
      <div class="row features-container">
        <div class="col-lg-offset-1 col-sm-12 col-md-12 col-lg-10">
          <div class="features-list">
            <div class="row">
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="feature-block bootdey" style="visibility: visible;">
                  <div class="ico fa fa-diamond"></div>
                  <div class="name">
                    Reliability
                  </div>
                  <div class="text">
                    Our open and transparent communication with donors provides an additional layer of trust that inspires people to give generously.
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="feature-block bootdey" style="visibility: visible;">
                  <div class="ico fa fa-handshake-o"></div>
                  <div class="name">
                    Trusted Partners
                  </div>
                  <div class="text">We are closely cooperating with major non-profit <a href="/organizations">organizations</a> to ensure that raised funds
                     will go directly to those in need.
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4 mb-5">
                <div class="feature-block bootdey" style="visibility: visible;">
                  <div class="ico fa fa-gift"></div>
                  <div class="name">
                    Bonus: PSDs Included
                  </div>
                  <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi
                    tristique senectus et netus et malesuada fames
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="feature-block bootdey" style="visibility: visible;">
                  <div class="ico fa fa-info-circle"></div>
                  <div class="name">
                    Complex Help
                  </div>
                  <div class="text">Need a medical, legal or residential consultation? With the help of our experienced 
                  volunteers you will get all necessary information.
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="feature-block bootdey" style="visibility: visible;">
                  <div class="ico fa fa-expand"></div>
                  <div class="name">
                    Fully Responsive
                  </div>
                  <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi
                    tristique senectus et netus et malesuada fames
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="feature-block bootdey" style="visibility: visible;">
                  <div class="ico fa fa-send-o"></div>
                  <div class="name">
                    Contact Form
                  </div>
                  <div class="text">Need help? Fill out our <a href="/contact">website form</a> and one of our knowledgeable staff 
                    members will be in touch to discuss your needs. Don't wait - contact us today!
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<section>
  <div class="container">
    <div class="section-heading wow fadeIn">
      <h2>Our History</h2>
      <div class="heading-separator"></div>
    </div>
    <div class="row">
      <div class="history-wrapper">
        <div class="title-wrap text-center one-of-two">
          <h2 class="h1 text-secondary mb-0">HelpNow</h2>
          <p class="fs-5 font-weight-500">Let's begin!</p>
        </div>
        <div class="timeline-box one-of-two">
          <img class="mb-1-6 rounded" src="https://via.placeholder.com/280x280/87CEFA/000000" alt="...">
          <div class="content">
            <h3 class="h4 mb-2 mb-md-3">Founding and Early Years</h3>
            <p class="mb-0">HelpNow Fundraise was founded in 2022 by a student friends, Lisa and Bob. 
              The two had a vision of creating an innovative way to raise money for causes they believed in, and HelpNow was their answer.
              The company quickly grew in popularity and helped to raise millions of dollars for charities, schools, and other good causes over the next four years. In 2012, HelpNow was named by Forbes Magazine as one of the top 10 most innovative fundraising companies in the world.</p>
          </div>
          <div class="year">2020</div>
        </div>
        <div class="timeline-box one-of-two">
          <img class="mb-1-6 rounded" src="https://via.placeholder.com/280x280/FF7F50/000000" alt="...">
          <div class="content">
            <h3 class="h4 mb-2 mb-md-3">Expansion and Growth</h3>
            <p class="mb-0">In 2013, HelpNow took their fundraising concept to the next level by introducing a new online platform. This allowed people to easily create campaigns, share information, and even donate money to their favorite causes.
              Over the next two years, the company continued to grow and expand. They added new features to their platform, opened offices in new countries, and began working with some of the world’s largest charities.</p>
          </div>
          <div class="year">2021</div>
        </div>
        <div class="timeline-box one-of-two">
          <img class="mb-1-6 rounded" src="https://via.placeholder.com/280x280/008B8B/000000" alt="...">
          <div class="content">
            <h3 class="h4 mb-2 mb-md-3">Continued Success</h3>
            <p class="mb-0">HelpNow Fundraise continued to experience success throughout 2016 and 2017. They opened new offices in the US, Europe, and Asia, and their online platform and fundraising capabilities grew even more.
              In 2018, HelpNow was named by Inc Magazine as one of the fastest growing companies in the US.</p>
          </div>
          <div class="year">2021</div>
        </div>
        <div class="timeline-box one-of-two">
          <img class="mb-1-6 rounded" src="https://via.placeholder.com/280x280/00CED1/000000" alt="...">
          <div class="content">
            <h3 class="h4 mb-2 mb-md-3">Global Expansion</h3>
            <p class="mb-0">In 2019, HelpNow began to expand their services globally. They opened new offices in Africa, Asia, and Latin America and started to work with some of the world’s largest charities.

              Today, HelpNow is one of the leading fundraising companies in the world. They continue to innovate, grow, and help to raise millions of dollars for good causes around the world.</p>
          </div>
          <div class="year">2022</div>
        </div>
      </div>
    </div>
  </div>
</section>